@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;


.setbudget{



&__container{

    display: flex;
    flex-direction: column;
    background-color: #ebeeef;
    padding-bottom:4rem;

    width:calc(100% - 4rem);
    margin:auto;
    gap:2rem;

}

&__mainarea{
    padding:2rem;
}

&__btn{
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    padding-right:2rem;
    gap:1rem;

}

}