@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;



.BudgetStatus{

    

&__container-mainarea{
    display:flex;
    width:100%;


    flex-direction: column;
    gap:5rem;

    @include desktop{
        width:50%;

    }
}

&__label{
    font-family:'POP';
    font-size: 1.5rem;
    font-weight: 300;
}

&__budget{

    font-family: 'POP';
    font-weight: 700;
    font-size: 1.5rem;
    color:#d08774;
    text-decoration: underline;
}
}