@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.fstatuspage{

   

   &__container{
    background-color: #ebeeef;
    display: flex;
    margin:2rem;
    padding:1rem 0 4rem 0;

    @include desktop{
      width: 84vw;
      margin:auto;

}


   }

   &__main{
    display: flex;
    flex-direction: column;
      width: calc(100% - 4rem);
      margin:auto;
      gap:2rem;

      @include tablet{
         width: calc(100% - 14rem);
         margin:auto;

      }


}


   &__btn-container{
      display: flex;
      justify-content: flex-end; 
        width: 100%;

   }


}