@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;


.App {
    font-family: 'POP';
    font-size: 0.875rem;
    margin: 20px;
    padding: 20px;
    color: #333;
}

.statement{


    &__row:hover{
        background-color:#cfcdd0;
    }


}

table {
    font-family: 'POP';
    font-weight: 300;
    font-size: 0.625rem;
    font-style:italic;
    width: 100%;
    border-collapse: collapse;
    margin:auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    border-left: none;
    border-right: none;
}

form input, form select, form button {
    margin-top: 10px;
    padding: 10px;
    width: 95%;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

